@model Product
@{ Layout = "_SimpleLayout"; }

<h5 class="bg-primary text-white text-center p-2">HTML Form</h5>

<form asp-action="SubmitForm" id="htmlForm" method="post">
    <div>
        <label>Id</label>
        <input asp-for="ProductId" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="form-group">
        <label >Category Name</label>
        <input asp-for="Category.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Supplier Name</label>
        <input asp-for="Supplier.Name" class="form-control" />
    </div>
    
</form>
<button form="htmlForm" asp-action="SubmitForm" type="submit" class="btn btn-primary">Submit(out)</button>