@page "/pages/message"
@model MessageModel
@using System.Collections.Generic;
@using WebApp.Filters;
@functions
{
    [ChangePageArg()]
    public class MessageModel : PageModel
    {


        public object Message { get; set; } = $"{DateTime.Now.ToLongTimeString()} This is the Message from the Pages";

        public void OnGet(string message1, string message2 = "Bla-bla-bla")
        {
            Message = $"{message1} and {message2}";
        }

    }
}

@if(Model.Message is string str)
{
    <p>@str</p>
}else if(Model.Message is IDictionary<string,string> dictionary)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, string> pair in dictionary)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }

        </tbody>
    </table>
}

